body {
  background-color: #000000;
  position: relative;
}
.fundo-1 {
  position: absolute;
  top: 81px;
  left: 435px;
  width: 474px;
  height: 474px;
  background-color: #FF0000;
  z-index: 1;
  border-radius: 50%;
}

.fundo-2 {
  position: absolute;
  top: 135px;
  left: 489px;
  width: 366px;
  height: 366px;
  background-color: #000000;
  z-index: 2;
  border-radius: 50%;
}

.barra {
  position: absolute;
  top: 135px;
  left: 652px;
  width: 40px;
  height: 366px;
  background-color: #FF0000;
  z-index: 3;
}

.olho-1 {
   margin: 50px 0;
   position: relative;
   display: block;
   color: white;
   top: 285px;
   left: 725px;
   width: 0px;
   height: 0px;
   border-right:  55px solid transparent;
   border-bottom: 40px  solid white;
   border-left:   55px solid transparent;
   -webkit-transform: rotate(142deg);
   -moz-transform:    rotate(142deg);
   -ms-transform:     rotate(142deg);
   -o-transform:      rotate(142deg);
   z-index: 4;
}

.olho-2 {
   margin: 50px 0;
   position: relative;
   display: block;
   color: white;
   top: 198px;
   left: 505px;
   width: 0px;
   height: 0px;
   border-right:  55px solid transparent;
   border-bottom: 40px  solid white;
   border-left:   55px solid transparent;
   -webkit-transform: rotate(215deg);
   -moz-transform:    rotate(215deg);
   -ms-transform:     rotate(215deg);
   -o-transform:      rotate(215deg);
   z-index: 5;
}

/*.triangulo-1:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
    -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}*/

/* .triangulo:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
} */
